/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mainGreen: #5abe89;
    --accentGreen: #DAFFE1;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
    scroll-margin-top: 80px;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    top: 62px;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--mainGreen);
    padding: 0 5px;
    background: white;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: var(--mainGreen);
    box-shadow: 0px 0px 10px black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a img{
    max-width: 50px;
    display: none;
}
.navbar.sticky .logo a img{
    display: unset;
}
.navbar.sticky .logo a img:hover{
    box-shadow: 0 0 10px  rgba(0,0,0,0.3);
    border-radius:50px;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--accentGreen);
}
.navbar.sticky .menu li a:hover{
    color: var(--accentGreen);
}

/* menu btn styling */
.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/laptop.png") no-repeat;
    background-position: right center;
    background-color: var(--mainGreen);
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: 30%;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: white;
    font-weight: 700;
}
.home .home-content a{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: white;
    margin-right: 10px;
    margin-top: 10px;
    color: var(--mainGreen);
    border-radius: 100px;
    border: 2px solid white;
    transition: all 0.3s ease;
}
.home .home-content a img{
    margin-top: 6px;
    margin-left: 5px;
    max-width: 25px;
    filter: invert(67%) sepia(57%) saturate(342%) hue-rotate(96deg) brightness(89%) contrast(87%);
}
.home .home-content a:hover{
    color: white;
    background: none;
    border: 2px solid white;
}
.home .home-content a:hover img{
    filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.home .home-content a span{
    font-size: 20px;
    padding: 5px;
}

/* about section styling */
.about .title::after{
    content: "●";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 100px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--mainGreen);
}
.about .about-content .right p{
    text-align: justify;
    hyphens: auto;
}
.about .about-content .right a{
    display: inline-block;
    background: var(--mainGreen);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid var(--mainGreen);
    transition: all 0.3s ease;
}
.about .about-content .right a i{
    padding-right: 20px;
}
.about .about-content .right a:hover{
    color: var(--mainGreen);
    background: none;
}

/* projects section styling */
.projects{
    color: #111;
    background: white;
}
.projects .title::before{
    background: #111;
}
.projects .title::after{
    background: white;
    content: "●";
}

/* skills section styling */

.skills {
    background-color: var(--accentGreen);
}
.skills .title::after{
    content: "●";
    background-color: var(--accentGreen);
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left ul{
    margin-left: 20px;
}
.skills .skills-content .left p{
    text-align: justify;
    hyphens: auto;
}
.skills .skills-content .left a{
    display: inline-block;
    background: var(--mainGreen);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid var(--mainGreen);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: var(--mainGreen);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--mainGreen);
}
.skills-content .right .java::before{
    width: 100%;
}
.skills-content .right .swift::before{
    width: 80%;
}
.skills-content .right .clangs::before{
    width: 60%;
}
.skills-content .right .webdev::before{
    width: 60%;
}
.skills-content .right .python::before{
    width: 20%;
}
.skills-content .language-icon {
    height: 30px;
    margin-right: 10px;
    padding-bottom: 5px;
    vertical-align: middle;
}

/* projects section styling */
.projects .title::after{
    content: "●";
}
.projects .carousel .card{
    background: var(--accentGreen);
    border-radius: 50px;
    padding: 25px 35px;
    text-align: center;
    /* overflow: hidden; */
    transition: all 0.3s ease;
}
.projects .carousel .card:hover{
    background: var(--mainGreen);
    color: white;
    cursor: grab;
}
.projects .carousel .card:active{
    cursor: grabbing;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.projects .carousel .card .app-icon:hover img{
    transform: scale(1.1);
    filter: blur(1px);
    transition: all 0.3s ease;
}
.overlay {
    cursor: pointer;
    position: absolute;
    bottom: 57%;
    left: 35%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem rgba(95, 69, 69, 0.5));
}
.app-icon:hover .overlay {
    opacity: 1;
}
.projects .carousel .card a{
    cursor: pointer;
    width: 41px;
    height: 41px;
    display: inline-block;
    background: var(--mainGreen);
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 100px;
    border: 2px solid var(--mainGreen);
    transition: all 0.3s ease;
}
.projects .carousel .card:hover a{
    background: white;
    color: var(--mainGreen);
    border: 2px solid white;
}
.projects .carousel .card:hover a img{
    filter: invert(67%) sepia(57%) saturate(342%) hue-rotate(96deg) brightness(89%) contrast(87%);
}
.projects .carousel .card a img{
    height: unset;
    width: unset;
    margin-top: 6px;
    margin-left: 5px;
    max-width: 26px;
    filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    border: unset;
    border-radius: unset;
    object-fit: unset;
}
.projects .carousel .card a:hover{
    color: white;
    background: none;
    border: 2px solid white;
}
.projects .carousel .card a:hover img{
    filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.expanded-description {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 60px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: fadeIn ease 0.25s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
.expanded-description-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    z-index: 101; /* Sit on top */ 
}
.expanded-description-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 40px;
}
.expanded-description-subtitle {
    padding-bottom: 20px;
    font-weight: 500;
    color: var(--mainGreen);
}
.close {
    color: var(--mainGreen);
    float: right; 
    font-size: 28px;
    font-weight: bold;
    z-index: 102; /* Sit on top */ 
}

.close:hover,
.close:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--mainGreen)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--mainGreen)!important;
}

/* contact section styling */

.contact {
    background: var(--accentGreen);
    color: black;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    min-width: 260px;
    align-items: center;
    margin: 0 auto;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--mainGreen);
    margin-left: 20px;
}
.contact .contact-content .row img{
    height: 25px;
    filter: invert(67%) sepia(57%) saturate(342%) hue-rotate(96deg) brightness(89%) contrast(87%);
    margin-left: 20px;
}
.contact .contact-content .info .head{
    font-weight: 600;
}
.contact .contact-content .info .sub-title{
    color: black;
    font-weight: normal;
    text-decoration: none;
}
.contact .logo {
    max-width: 80px;
    max-height: 80px;
    margin-top: 40px;
    margin-left: calc(50% - 40px);
    margin-right: calc(50% - 40px);
}
.contact a {
    text-decoration: none;
}

/* responsive media query start */
@media (max-width: 1200px) {
    .contact .contact-content .row{
        min-width: 310px;
        margin: 0 auto;
        margin-left: 12%;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 916px) {
    .contact .contact-content .row {
        min-width: 280px;
        margin: 0 auto;
    }
    .contact .contact-content {
        margin-left: 10%;
    }
}

@media (max-width: 724px) {
    .contact .contact-content .row {
        min-width: 260px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 624px) {
    .contact .contact-content {
        margin: 0 auto;
    }
    .contact .contact-content .row {
        min-width: 300px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .contact .contact-content .row {
        min-width: 260px;
    }
}
